p Maya, Nuke, Houdini, Realflow, Photoshop, After Effects, Premiere
p Mental Ray, Mantra, Renderman for Maya
p Blender, Vray, 3Delight, Inkscape, Processing, Django, Node.js, D3.js, three.js, GO, 3DSMAX