h1 About Me

ul
	li- bit art and tech, was more art but now more tech
	li- 3d history yada, frenhc yada
	li- initial fear of programming at uni using java but after picking up python something clicked and i could finally understand it
	li- I have come to prefer the backend and I love creating the architecture of working backends
	li- want environment where I can learn more
	li- I tend to dabble but would like to focus more and mastering one area