h1 Curiculum Vitae

h3 Work Experience
p Now - Animal Logic
p Previous - Freelance animations
p Previous - Intern at Lawpath
p Previous - Intern at Onyx Studios

h3 Education
p Sydney Uni - B Arts Science - Year X
p Sydney Dev Camp
p AIE

h3 References

