h1 Curiculum Vitae

h3 Work Experience
p Render Wrangler, Animal Logic, 2013-Now
p Web Development Intern, Lawpath, 2013
p Freelance animator 2012-2013
p Layout & Previz (Internship), Onyx Studio, Luxembourge, 2009

h3 Education
p Sydney Dev Camp, Sydney, 2013
p Adv. Diploma of Screen & Media, Academy of Interactive Entertainment, 2011-2012
p B. Arts & Science (Digital Cultures), University of Sydney, 2006-2010

h3 Languages
p French
p Italian

h3 IT skills
p Python etc

h3 3D skills
p Maya etc

h3 References (have as available on request!!)
p Ari Stamatopolous, Lead Wranlger, Animal Logic, email, phone
p Andy Rose, CTO & Co-Founder, Lawpath, email, phone
p Alan Maxwell, AIE Animation Teacher, AIE, email, phone
